body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-geral {
  display: flex;
  height: 200vh;
  margin-left: 6%;
}

.menu-lateral {
  width: 80px;
  background-color: #8b1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.icone {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 8px;
  margin: 15px 0;
}

.conteudo {
  flex: 1;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titulo {
  margin: 0 0 20px 0;
  font-size: 22px;
}

.filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filtro, .campo-usuario {
  padding: 8px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.tabela {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.linha {
 background-color: white;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.4fr 1.2fr 0.8fr 1fr;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  align-items: center;
}

.linha:last-child {
  border-bottom: none;
}

.cabecalho {
  background-color: #f5f5f5;
  font-weight: bold;
}

.coluna {
  font-size: 14px;
}

.bolinha {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.verde {
  background-color: #4CAF50;
}

.vermelha {
  background-color: #d32f2f;
}

.sucesso, .falha {
  display: flex;
  align-items: center;
}
#