#alertas_redirecionamento {
    background-color:  #9a1522;
}

.texto-organizacao {
    font-size: 2vw;
    font-weight: bold;
    height: 8vh;
}

.texto-topico {
    font-size: 1.5vw;
    font-weight: bold;
    height: 6vh;
}

.container {
    margin-left: 6%;
    width: 100%;
    height: 50vh;
    background-color: transparent;
    position: fixed;
    z-index: 998;
    background-color: #f8f8f8;

    padding-left: 2vw;
    padding-top: 2vh;
}

.texto-organizacao {
    font-size: 2vw;
    font-weight: bold;
    height: 8vh;
}

.texto-topico {
    font-size: 1.5vw;
    font-weight: bold;
    height: 6vh;
}

.area-filtros {
    display: flex;
    /* background-color: white;      */
    width: 90%;
    height: 7vh;

    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1%;
    gap: 1vw;
}

.alinhamento-centralizar-vertical {
    display: flex;
    align-items: center;
}

.texto-funcionalidade {
    font-size: 1.3vw;
}

.select-filtro {
    border-radius: 1vh;
    width: 20vw;
    height: 4vh;
    font-size: 1vw;
    font-weight: 400;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

/* Container geral */
#container-tabela {
    height: 66vh;
    width: 90%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(69, 69, 69);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Tabela geral */
#tabela_alertas {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}
/* Cabeçalho */
#titulo-tabela {
    height: 6vh;
    width: 100%;
    background-color: #1E2A38;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Linhas */
tr {
    border-bottom: 2px solid #edecec;
}

tr:hover {
    background-color: #f0f0f0;
}

/* Células */
td {
    text-align: center;
    width: 25%;
}

/* Tamanhos específicos */
#tr-tipo-alerta {
    width: 15%;
} 
.td-tipo-alerta { width: 12%; display: flex; justify-content: start; align-items: center; margin-left: 2.5%;}
#tr-monitoramento-alerta, .td-monitoramento-alerta { width: 12%; }
#tr-nome-maquina, .td-nome-maquina { width: 17%; }
#tr-data-inicio-alerta, .td-data-inicio-alerta { width: 13%; }
#tr-data-termino-alerta, .td-data-termino-alerta { width: 13%; }
#tr-status-alerta, .td-status-alerta { width: 10%; }
#tr-data-verificacao-alerta, .td-data-verificacao-alerta { width: 14%; }
#tr-verificador-alerta, .td-verificador-alerta { width: 23%; }
#tr-acoes-alerta, .td-acoes-alerta { width: 8%; display: flex; justify-content: center;}

/* Linha padrão */
.dados-tabela {
    font-weight: 400;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Ícone da ação */
.icone-verificacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3vw;
    height: 2.3vw;
    /* background-color: rgb(116, 116, 116); */
    border-radius: 5px;
}

.icone-verificacao img {
    width: 70%;
}

.icone-verificacao:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

/* Pontinho colorido do alerta */
.status-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
}

.icone-alerta {
    background-color:#dc1717;
}
.icone-atencao {
    background-color: #ffc022;
}
