body {
  margin: 0;
  background: #f8f8f8;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
}

#monitoramento_redirecionamento{
    background-color:  #9a1522;
}

.container {
  display: flex;
}

.conteudo-principal {
  padding: 20px;
  width: 100%;
  height: 100vh;
  margin-left: 6%;
  box-sizing: border-box;
  /* background-color: rgb(150, 150, 150); */
}

.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  margin-bottom: 12px;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-wrap: wrap;
}

.header-esquerda {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  gap: 14px;

}

#bt-voltar {
    width: 1.8%;
}

.header-esquerda img {
    width: 1.8%;
}

.corpo {
    /* background-color: rgb(181, 181, 181); */
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-kpis {
    width: 100%;
    height: 22.5%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(251, 251, 215); */
}

.kpi {
    width: 24.2%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-grafico-unico-comprido {
    width: 100%;
    height: 35%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-graficos-duplo {
    width: 100%;
    height: 38%;
    /* background-color: rgb(251, 251, 215); */
    display: flex;
    justify-content: space-between;
}

.grafico-esquerda {
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grafico-direita {
    width: 58.8%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}