#monitoramento_redirecionamento {
    background-color: #9a1522;
}

.dashboard-box {
    margin-left: 6%;
    height: 100vh;
    width: 94%;

    padding: 0vw 2vw;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
    margin-bottom: 12px;
    margin-left: 7%;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-wrap: wrap;
    margin-top: 1%;
}

.header a {
    display: flex;
    gap:  10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.header a:hover {
color: #9a1522;}

#menu {
    margin-top: -1%;
}
.header-esquerda {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    gap: 14px;

}

.header-esquerda img {
    width: 1.8%;
}

.icon-seta-redirect {
    height: 40%;
    cursor: pointer;
}

.seta-top{
    width: 5%;
}


.box-bread-crumbs {
    display: flex;
    gap: 0.5vw;
}

.texto-bread-crumbs {
    padding-top: 0.4vh;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    color: black;
    transition: 0.3s;
}

.texto-bread-crumbs:hover {
    color: #9a1522;
}

.big-content-dashboard {
    height: 90%;
    width: 100%;

    display: flex;
}

.big-content-left {
    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
}

.big-content-right {
    margin-top: 1%;
    height: 100%;
    width: 25%;

    display: flex;
    flex-direction: column;
    gap: 2%;
}

.kpis-box {
    height: 25%;
    width: 100%;
    padding-right: 2vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kpi-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 80%;
    width: 30%;
}

.kpi-top {
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.tooltip {
    position: fixed;
    margin-left: 17.5%;
    display: inline-block;
    color: #000000;
    cursor: help;
    font-size: 12px;
    font-weight: bold;
    font-size: 1.5vw;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333333c7;
    color: #fff;
    text-align: start;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 800;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 11px;
    line-height: 1.2;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.title-kpi {
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    margin-right: 1vw;
}

.kpi-bottom {
    height: 60%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-text {
    font-size: 1.8vw;
    font-weight: bold;
}

.grafico-box {
    background-color: #fff;
    height: 75%;
    width: calc(100% - 2vw);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    flex-direction: column;
}

.top-grafico {
    width: 100%;
    height: 15%;

    display: flex;
}

.title-grafico {
    height: 100%;
    width: 100%;
    font-size: 1.5vw;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-grafico {
    width: 100%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.grafico {
    height: 90%;
    width: 75%;
}

.legenda {
    height: 90%;
    width: 20%;
    margin-right: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.box-legenda {
    background-color: #fff;
    width: 100%;
    height: 30%;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: solid #000000 0.8vh;
    padding-top: 0.5vh;
}

.title-legenda {
    width: 100%;
    height: 20%;
    font-size: 1.2vw;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle-legenda {
    width: 100%;
    height: 40%;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-box {
    height: 40%;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1vw 1vw;
}

.box-ia {
    height: 56%;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.raking-top{
    height: 20%;
    width: 100%;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    padding-right: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.raking-bottom{
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vh;
}
.lista-ranking{
    padding-left: 1vw;
}
.option-ranking{
    font-size: 1vw;
}
.ia-top{
    height: 15%;
    width: 100%;
    font-size: 1.2vw;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.ia-bottom{
    height: 85%;
    width: 100%;
    padding: 1vw;
}
.ia-text{
    height: 80%;
    width: 100%;
    font-size: 1vw;
}
.ia-button-box{
    height: 20%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.button-ia{
    cursor: pointer;
    height: 65%;
    width: 65%;
    color: #fff;
    background-color: #1E2A38;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.9vw;
    font-weight: 500;
    border-radius: 1vh;
}
.grafico-ajuste{
    margin-left: 63.5%;
    margin-top: 1.5%;
}
.ajuste-ranking{
    margin-left: 21%;
}
.ajuste-ia{
    margin-left: 19.5%;
}
.ia-no-text-box{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.icon-geminai{
    height: 25%;
}
.ia-no-text{
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;
}
/* Loader */
.loader {
  height: 30px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
  background:var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l43 1s infinite linear; 
}
@keyframes l43 {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}
#bt-voltar{
    cursor: pointer;
}
/* Deixar por último */
.oculto{
    display: none;
}