
    .header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
    margin-bottom: 12px;
    margin-left: 7%;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-wrap: wrap;
    margin-top: 1%;
}

#menu {
    margin-top: -1%;
}
.header-esquerda {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    gap: 14px;

}

#bt-voltar {
    width: 1.8%;
    cursor: pointer;
}

.header-esquerda img {
    width: 1.8%;
}

    * {
        box-sizing: border-box;
    }
#monitoramento_redirecionamento {
    background-color: #9a1522;
}
    body {
        overflow: hidden;
        background-color: #F8F8F8;

    }



    .conteudo {
        margin-left: 7%;
        margin-right: 1%;
        height: 95vh;
        display: flex;
        flex-direction: column;

    }

   

    #kpis-superior {

        display: flex;
        gap: 1%;
        margin-top: 1%;
        height: 20%;
    }

    #kpis-superior b {
        font-size: 3vh;
    }

    .kpis {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 24.25%;
        padding: 15px;
        overflow: hidden;
        height: 100%;
        background-color: #fff;
        border-radius: 20px;
        font-size: 4vh;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .dados-kpi {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .divs-inferior {
        display: flex;
        margin-top: 2%;
        gap: 1%;
    }

    #titulo-graficos {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
        width: 100%;
        font-size: 3vh;
    }

    #titulo-graficos b {
        justify-content: center;
    }

    #slc_grafico {
        position: absolute;
        left: 2%;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 10%;
        background-color: transparent;

    }

    .graficos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: end;
        align-items: flex-start;
        width: 80%;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    #grafico-heatmap {
        display: flex;
        justify-content: center;
        align-content: end;
        align-items: flex-end;
        width: 100%;
    }

    #Historico {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 63vh;
        width: 36vh;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        overflow-y: scroll;

    }

    #Historico header {
        margin-top: 5%;
        font-size: 2.5vh;
        font-weight: bold;

    }

    #Uso-CPU {
        box-sizing: border-box;
    }

    .alertas {
        display: flex;
        padding-top: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1vh;
        background-color: transparent;
        width: 90%;
        height: 20%;
        border-radius: 15px;
        flex-shrink: 0;
        color: #fff;
        font-size: 3vh;
        gap: 20%;
    }

    .alertas p {
        font-size: 2vh;
    }

    .btn-voltar {
        background-color: #b30000;
        color: #fff;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        width: 2%;
        min-width: 45px;
        max-width: 80px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;


        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .btn-voltar:hover {
        background-color: #8f0000;
        color: #ffffff;
        transform: scale(1.05);
    }

    .btn-voltar svg {
        width: 50%;
        height: 50%;
    }