body {
    margin: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, sans-serif;
}

#monitoramento_redirecionamento {
    background-color: #9a1522;
}

.container {
    display: flex;
}

.conteudo-principal {
    padding: 20px;
    width: 100%;
    height: 100vh;
    margin-left: 6%;
    box-sizing: border-box;
    /* background-color: rgb(150, 150, 150); */
}

.header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
    margin-bottom: 12px;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-wrap: wrap;
}

.header-esquerda {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    gap: 14px;

}

#bt-voltar {
    width: 1.8%;
}

.header-esquerda img {
    width: 1.8%;
}

.corpo {
    /* background-color: rgb(181, 181, 181); */
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-kpis {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(251, 251, 215); */
}

.kpi {
    width: 24.2%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 100%;
    height: 70%;
    /* background-color: #a01e1e; */
    display: flex;
    justify-content: space-between;
}

.titulo-kpi {
    width: 80%;
    height: 100%;
    /* background-color: #f6f6f6; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    z-index: 1;
}
.iops-top {
    height: 75%;
    text-align: center;
}
.iops-titulo {
    width: 80%;
    margin-left: 7%;
}

.icone-info {
    width: 10%;
    height: 100%;
    /* background-color: rgb(188, 188, 188); */
    display: flex;
    justify-content: start;
    align-items: center;
    height: 85%;
    z-index: 5;
}
.tooltip {
    position: relative;
    margin-left: 3%;
    display: inline-block;
    color: #000000;
    cursor: help;
    font-size: 12px;
    font-weight: bold;
    font-size: 1.5vw;
}

.tooltip-text {
    visibility: hidden;
    width: 170px;
    background-color: #333333c7;
    color: #fff;
    text-align: start;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 800;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 11px;
    line-height: 1.2;
}

.tooltip-perto-da-borda {
    left: -250%;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.iops-icone-info {
    height: 85%;
}

.dado-kpi {
    font-size: 1.8rem;
    width: 90%;
    height: 70%;
    /* background-color: #afafaf; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
}

.box-graficos-duplo {
    width: 100%;
    height: 35.5%;
    /* background-color: rgb(251, 251, 215); */
    display: flex;
    justify-content: space-between;
}

.grafico-esquerda {
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-grafico {
    width: 100%;
    height: 20%;
    /* background-color: #a01e1e; */
    display: flex;
    justify-content: space-between;
}

.titulo-grafico {
    width: 80%;
    height: 100%;
    /* background-color: #f6f6f6; */
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 3%;
    z-index: 1;
}

.icone-info-grafico {
    width: 8%;
    height: 100%;
    /* background-color: rgb(188, 188, 188); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 5;
}

.dado-grafico {
    font-size: 1.8rem;
    width: 100%;
    height: 80%;
    /* background-color: #afafaf; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -2%; */
}

.grafico-direita {
    width: 58.8%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.titulo-grafico-barras {
    margin-left: 2%;
}

.icone-grafico-barras {
    width: 6%;
}

.box-grafico-unico-comprido {
    width: 100%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.titulo-grafico-linha {
    margin-left: 1.5%;
}

.icone-grafico-linha {
    width: 3%;
}