#gestao_convites {
    background-color:  #9a1522;
}

.filtros-box {
    margin-left: 6%;
    width: 100%;
    height: 50vh;
    background-color: transparent;
    position: fixed;
    z-index: 998;
    background-color: #f8f8f8;

    padding-left: 2vw;
    padding-top: 2vh;
}

.texto-organizacao {
    font-size: 2vw;
    font-weight: bold;
    height: 8vh;
}

.texto-topico {
    font-size: 1.5vw;
    font-weight: bold;
    height: 6vh;
}

.area-filtros {
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    width: 90%;
    height: 23vh;

    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 1vw;
}

.kpi-box {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8vw;
}

.alinhamento-centralizar-vertical {
    display: flex;
    align-items: center;
}

.box-filtros {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    gap: 1.5vw;
    width: 100%;
    height: 17%;
    font-size: 0.9rem;
}

#campo-cpf {
    /* background-color: rgb(255, 0, 119); */
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.7vw;
}

#campo-cpf input {
    height: 100%;
    width: 55%;
    text-indent: 5%;
    border-radius: 7px;
    border: solid 1px rgb(92, 92, 92);
    font-size: 0.85rem;
}

#campo-status-convite {
    /* background-color: rgb(255, 81, 162); */
    height: 100%;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.7vw;
}

#campo-status-convite select {
    height: 100%;
    width: 40%;
    text-indent: 5%;
    border-radius: 7px;
    border: solid 1px rgb(92, 92, 92);
    font-size: 0.85rem;
}

#campo-data-convite-gerado {
    /* background-color: rgb(255, 0, 119); */
    height: 100%;
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.7vw;
}

#campo-data-convite-gerado input {
    height: 100%;
    width: 26%;
    text-indent: 3%;
    border-radius: 7px;
    border: solid 1px rgb(92, 92, 92);
    font-size: 0.85rem;
}

.botao-aplicar-filtros {
    background-color:  #1E2A38;
    color: white;
    border: none;
    height: 100%;
    width: 7.5vw;
    border-radius: 1vh;
    font-size: 0.9vw;
    font-weight: 500;
    margin-left: -4%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.botao-aplicar-filtros:hover{
    cursor: pointer;
}

.botao-codigo:hover {
    cursor: pointer;
}

.box-filtros-aplicados {
    /* background-color: rgb(0, 221, 147); */
    display: flex;
    align-items: center;
    gap: 1.5vw;
    width: 100%;
    height: 17%;
    font-size: 0.9rem;
    margin-top: 0.7%;
}

.box-selecao-convite {
    /* background-color: #8484843e; */
    width: 90%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtro-esquerda {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}

.filtro-direita {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2vw;
}

.texto-funcionalidade {
    font-size: 1.3vw;
}

.botao-codigo {
    background-color:#860b19;
    color: white;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 4vh;
    width: 14vw;
    border-radius: 1vh;
    font-size: 1vw;
    font-weight: 500;
}

.botao-codigo:hover {
    cursor: pointer;
}

.div-botao-adicionar{
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    height: 4vh;
    width: auto;
    min-width: 10vw;
    background-color: #1E2A38;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1vh;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.filtro-aplicado {
    background-color: rgba(174, 197, 228, 0.218);
    color: rgb(1, 50, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 0.7%;
    padding-right: 0.7%;
    border-radius: 7px;
    border: solid 1px #014153;
    font-size: 0.8rem;
    font-weight: 550;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: default;
}

.filtro-aplicado img {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.icone-mais{
    height: 2.2vh;
}
.texto-botao-adicionar{
    font-size: 1vw;
}
.div-botao-adicionar:hover{
    cursor: pointer;
}

#container-tabela {
    height: 45.5vh;
    width: 90%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(69, 69, 69);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}
#titulo-tabela {
    height: 6vh;
    width: 100%;
    background-color: #1E2A38;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tr {
    border-bottom: 2px solid #edecec;
}
tr:hover {
    background-color: #f0f0f0;;
}
td {
    text-align: center;
    width: 25%;
}
#tr-seletor {
    width: 9%;
}
.td-seletor {
    width: 9%;
    text-align: center;
}
.checkbox-padrao {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}
#tr-cod-convite {
    width: 35%;
}
.td-cod-convite {
    width: 35%;
}
#tr-nome-completo {
    width: 42%;
}
.td-nome-completo {
    width: 42%;
}
#tr-cpf-funcionario {
    width: 25%;
}
.td-cpf-funcionario {
    width: 25%;
}
#tr-data-criacao-convite {
    width: 25%;
}
.td-data-criacao-convite {
    width: 25%;
}
#tr-data-expiracao-convite {
    width: 25%;
}
.td-data-expiracao-convite {
    width: 25%;
}
#tr-status-funcionario {
    width: 20%;
}
.td-status-funcionario {
    width: 20%;
    font-weight: 750;
}
#tr-acoes-funcionario {
    width: 20%;
}
.td-acoes-funcionario {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.icone-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw; 
    height: 2vw; 
    background-color: rgb(116, 116, 116); 
    border-radius: 5px;
}
.icone-editar img {
    width: 70%;
}
.icone-editar:hover {
    cursor: pointer;
    background-color: #656464; 
}
.icone-excluir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw; 
    height: 2vw; 
    background-color: rgb(203, 27, 27); 
    border-radius: 5px;
}
.icone-excluir img {
    width: 70%;
}
.icone-excluir:hover {
    cursor: pointer;
    background-color:  rgb(182, 19, 19); 
}
.dados-tabela {
    font-weight: 400;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.tela-escurecida{
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.356); */
    position: fixed;
    z-index: 1002;
    padding-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-fundo {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.oculto {
    display: none;
}

.popup {
    background: #fff;
    border-radius: 10px;
    padding: 25px 35px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popup-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.popup-header h2 {
    font-size: 20px;
    text-align: center;
    margin-left: 0;
    margin-right:0; 
    width: 100%;
    
}

.popup-header .fechar {
    background: none;
    position: absolute;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    right: 0;
    top: 0;
}

.btn-convidar {
    background: #1a1a1a;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-top: 8px;
    transition: background 0.2s;
}

.btn-convidar:hover {
    background: #333;
}

.select-cargo, input {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}
.line{
    border-bottom: 1px solid #1a1a1a;
    width: 250%,
}

.fechar{
    width: 26%;
    height: auto;
}
.texto-erro{
    font-size: 0.7vw;
    color: red;
}
.box-codigo{
    background-color: #ccc;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
}
.texto-codigo{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-copy{
    cursor: pointer;
    width: 3vh;
    height: 3vh;
}
.tela-box-copiar{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}
.box-copiar{
    position: fixed;
    z-index: 10000;
    background-color: lightgreen;
    margin-top: 5vh;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    height: 8vh;
    width: 300px;
}
.botao-recarregar{
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    border: none;
    background-color: #1E2A38;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.icone-recarregar{
    height: 70%;
}
.icon-ok{
    height: 5vh;
}
/* Deixar por último */
.oculto{
    display: none;
}