body {
  margin: 0;
  background: #f8f8f8;
  font-family: Arial, sans-serif;
}

.menu {
  margin-left: -7%;
  width: 100%
}

h2 {
  margin-left: 20%;
  padding: 20px 0 10px 0;
}


.kpi-container {
  margin-left:16%;
  width: 86%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2%;
  box-sizing: border-box;
}

.kpi-box {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  width: 90%;
  box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 6px 0px;
}

.kpi-box h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.kpi-box p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #b30000;
}

.conjunto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px; 
    margin-top: 2%;
}


.chart-container {
    margin-left: 16%;
    padding: 3%;
    height: 69vh !important;
    width: 65%;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloGrafico {
    margin-top: 2%;
    margin-bottom: 5%;
}

canvas#graficoAcessos {
    width: 80% ;
    height: 7% ;
}

.rankin-container {
    width: 40%;
    height: 69vh; 
    background: #fff;
    padding: 1.5%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

.rankin-container h3 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 1.2vw; 
}

.rankin-container h4 {
    margin: 5% 0 1.5% 0;
    font-size: 1vw;
    border-left: 0.4vw solid #b30000;
    padding-left: 1%;
}

.rankin-container .h42 {
    margin: 10% 0 1.5% 0;
    font-size: 1vw;
    border-left: 0.4vw solid #b30000;
    padding-left: 1%;
}

.rankin-container .cabecalho {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 10% 1fr 20% 18%;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 1vw;
}

.rankin-container .cabecalho2 {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 10% 1fr 25% 18%;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 1vw;
}

.rankin-container .linha {
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: 10% 1fr 15% 18%;
    padding: 1.5% 0;
    border-bottom: 1px solid #eee;
    font-size: 0.85vw;
}

.rankin-container p {
    margin: 0;
    padding: 0;
}


