body {
  margin: 0;
  background: #f8f8f8;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
}
 .header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
    margin-bottom: 12px;
    margin-left: 7%;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-wrap: wrap;
    margin-top: 1%;
}

.header a {
    display: flex;
    gap:  10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.header a:hover {
color: #9a1522;}

#menu {
    margin-top: -1%;
}
.header-esquerda {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    gap: 14px;

}

#bt-voltar {
    width: 1.8%;
    cursor: pointer;
}

.header-esquerda img {
    width: 1.8%;
}

.main_bd_dash{
    margin-left: 7%;
}

.header_dash{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.header_dash h1{
    font-size: 1.6em;
}

.header_semanaAtual{
    width: 75%;
   justify-content: flex-end;
   display: flex;
}

.container_kpis_dash{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 0 30px;
}

.kpi_dash{
  border-radius: 8px;
    height: 18vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 25%;
  background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    align-items: center;
}

.titulo_kpi{
    width: 100%;
    display: flex;
    height: 30%;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.tooltip{
    position: absolute;
    right: 0;
    font-size: 1em;
}


.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333333a9;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 800;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 11px;
  line-height: 1.2;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.titulo_kpi h2{
    font-size: 0.9em;
}

.valor_kpi{
    margin-top: 5px;
    font-weight: 700;
    font-size: 2em;
}

.main_container_dash{
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 2em;
}

.container_left_dash{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: auto;
}
.div_graficoSeveridade {
    background-color: #fff;
    width: 100%;
    height: 30vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

.main_container_dash h2{
    font-size: 1.2em;
}

.div_grfalertas {
    width: 100%;
    height: 100%;      
    display: flex;
    justify-content: center;
    align-items: center;
}

#grafico_pizza {
    max-width: 80%;
    max-height: 80%;
}

.div_rankingalertas {
    background-color: #fff;
    width: 100%;
    height: 30vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.div_ranking {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grafico_ranking {
    max-width: 100%;
    max-height: 100%;
}


.container_right_dash{
     width: 65%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.div_graficolinha{
     background-color: #fff;
    width: 100%;
    height: 65vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    text-align: center;
    padding: 30px;   
}