body {
  margin: 0;
  background: #f8f8f8;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.main-content {
  
  margin-left: -7%;
  width: 100%
}

h2 {
  margin-left: 20%;
  padding: 20px 0 10px 0;
}


.kpi-container {
  margin-left:16%;
  width: 86%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2%;
  box-sizing: border-box;
}

.kpi-box {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  width: 90%;
  box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 6px 0px;
}

.kpi-box h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.kpi-box p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #b30000;
}

.chart-container {
    margin-left: 16%;
    padding: 10px;
    height: 440px;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloGrafico {
    margin-top: 2%;
    margin-bottom: 20px;
}

canvas#graficoAcessos {
    width: 50% ;
    height: 70% !important; 
}
