body {
  margin: 0;
  background: #f8f8f8;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.container-geral {
    margin-left: 3%;
    display: flex;
    justify-content: center;
    padding: 70px;
    width: 100vw;
    height: 100vh;
}
.conteudo-faq{
    width: 80%;
}


.titulo-faq {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1vh;
}

.descricao-faq {
    font-size: 1.1rem;
    width: 100%;
    margin: auto;
    margin-bottom: 4vh;
    
}


.faq-lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4vh;

}

.faq-item{
    border-bottom: 3px solid #32445a;
    margin-bottom: 10px;
}



button{
   border: none;
}


.faq-pergunta { 
  background: #f8f8f8;
    width: 100%;
    padding: 1.2vh 1.5vw;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

} 

.faq-pergunta .seta {
    font-size: 1.2rem;
    margin-left: 1vw;
}


.faq-resposta {
    padding: 2vh 1vw;
    font-size: 1rem;
    color: #333;
    display: none;
    margin-top: -0.8vh;
    background-color: #fafafa;
    border-radius: 0 0 6px 6px;

}

.faq-pergunta.ativo .seta {
    transform: rotate(180deg);
}


.suporte-area {
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
    gap: 1vw;
}

.suporte-area h3{
    font-size: 1.5em;
}

.suporte-area p{
    margin-top: 10px;
}



.logo-jira {
    margin-top: 10px;
    height: 28px;
}

.suporte-area button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1E2A38;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1vh;
    border: none;
    color: #fff;
    font-size: 0.8vw;
    font-weight: 600;
    margin-top: 20px;
}