body {
  margin: 0;
  background: #f8f8f8;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

#monitoramento_redirecionamento {
    background-color:  #9a1522;
}

.container {
  display: flex;
}

.conteudo-principal {
  padding: 25px;
  width: 100%;
  margin-left: 6%;
  box-sizing: border-box;
}

.header-pai {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.header {
  width: 94%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  margin-bottom: 12px;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-wrap: wrap;
}

.header-esquerda {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  gap: 14px;

}

#bt-voltar {
    width: 1.8%;
}

.header-esquerda img {
    width: 1.8%;
}

#btn_descricao {
  display: none;
}

label.link-descricao {
  font-size: 13px;
  cursor: pointer;
  color: #5b5b5b;
  font-weight: bold;
  margin-right: 1%;
}

label.link-descricao:hover {
  color: #3a3a3a;
}

.descricao {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  font-size: 14px;
  color: #333;
  padding: 0 10px;
}

#btn_descricao:checked~.descricao {
  max-height: 5%;
  opacity: 1;
  transform: translateY(0);
  margin-top: 8px;
  padding-bottom: 10px;
}

.botao-excluir-maquina {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.botao-excluir-maquina img {
  width: 45%;
  opacity: 0.8;
}

.botao-excluir-maquina:hover {
  cursor: pointer;
}

.botao-excluir-maquina img:hover {
  width: 45%;
  opacity: 0.9;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.status.alerta {
  color: #b30000;
}


.dashboard-cards {
  display: flex;
  width: 100%;
  gap: 12px;
  margin-bottom: 14px;
}

.kpi-topo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 45%;
}

.div_componentes {
  line-height: 25px;

}

.card,
.card-monitoramento,
.card-alertas-totais {
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
  word-wrap: break-word;
}



.card {
  height: 100px;
  width: 230px;
}

.card-monitoramento,
.card-alertas-totais {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 50%;
}

.title {
  font-weight: bold;
  margin-bottom: 4px;
  display: flex;
  gap: 5px;
  width: 100%;
  height: 20%;
  align-items: center;
}


.card .number,
.card .tempo-atividade {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tempo-atividade {
  color: #139B36;
}

.number {
  color: #b30000;
}

.alerta-card {
  border-color: #b30000;
  height: 95px;
  width: 255px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon {
  font-weight: bold;
  margin-right: 4px;
}

.green {
  color: #139B36;
}

.red {
  color: #b30000;
}

.alerts-list {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.alerts-list div {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alerta-grave {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.alerta-critico {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.btn-editar,
.btn-historico {
  border: none;
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  padding: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn-historico i {
  font-size: 15px;

}

.btn-editar {
  background-color: #969595;
}

.btn-historico {
  background-color: #d91a1a;
}

.botao-sessao {
  display: flex;
  align-items: stretch;
  background-color: #ffffff00;
  width: 100%;

  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.config-alerta {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 14px;
  background-color: #fff;
  gap: 10px;
  font-size: 14px;
}

.config-alerta .titulo_componentes {
  margin-top: 5px;
}

.config-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 10px;
}



.config-left select {
  width: 80%;
  font-weight: 700;
  border-radius: 6px;
  padding: 4px;
  font-size: 13px;
}

.config-alertas-status {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 7px;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.metricas-valores {
  flex-direction: column;
  display: flex;
  height: 80%;
  font-size: 12px;
}

.grave {
  margin-top: 25%;
}

.critico {
  margin-top: 53%;
}

.ok {
  margin-top: 250%;
}

.status-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
  vertical-align: middle;
}

.status-dot.alerta-grave {
  background-color: #b30000;
}

.bolinha-grave {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #da0000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.bolinha-critico {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #daa520;
  ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.status-dot.alerta-critico {
  background-color: #daa520;
}

.status-dot.ok {
  background-color: #139B36;
}

.metrica {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 15px 15px;
  font-weight: 700;
  font-size: 14px;
  width: 90%;
}

.barra-vertical {
  width: 12px;
  border-radius: 10px;
  background: linear-gradient(to top,
      #139B36 0%,
      #139B36 71%,
      #f3be3a 72%,
      #f3be3a 88%,
      #dc1717 89%,
      #dc1717 100%);
}

.chart-area {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex: 1 1 55%;
  padding: 14px;
  background-color: #fff;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 11px;
  font-size: 13px;
}

.chart-area canvas {
  width: 100% !important;
  height: 300px !important;
  display: block;
}

.canvas-hidden {
  display: none !important;
}

.info-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background: #e6e6e6;
  color: #333;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  margin-left: 6px;
  line-height: 0;
  position: relative;
}

.info-btn:focus {
  outline: 2px solid #ccc;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: #000000;
  cursor: help;
  font-size: 12px;
  font-weight: bold;
}

.tooltip i {
  font-size: 20px;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333333c7;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 800;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 11px;
  line-height: 1.2;
}



.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.alerta-card {
  position: relative;
  overflow: visible !important;
}

.lista-alerta {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  gap: 10px;
  color: white;
}


#tipoGraficoTopo {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-weight: 700;
  background: #fff;
}

.chart-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.redirect-chart{
  width: 11.5vw;
  height: 4vh;
  cursor: pointer;
  font-size: 0.8vw;
  background-color: #1c2e42;
  padding: 2.5% 1.5%;
  border-radius: 6.5px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
}
.redirect-chart img{
  width: 15%;
  margin-left: 6%;
}

.redirect-chart:hover{
  background-color: #103054;
  transition: 0.2s;
}

@media (max-width: 900px) {
  .info-tooltip {
    left: 10px;
    transform: none;
    top: 30px;
  }
}