* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; 

  --vermelho-lateral: #b72b22;
  --fundo: #f5f6f7;
  --cartao: #ffffff;
  --texto-sec: #6b6b6b;
  --verde: #2ca36b;
  --vermelho: #d24b4b;
  --azul: #032b82;

  --sombra: 0 0.6rem 1.8rem rgba(15, 15, 15, 0.06);
  --card-border: 0.1rem solid rgba(0, 0, 0, 0.06);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
  overflow: hidden;
}


.container-principal {
  display: flex;
  height: 200vh;
  background: #fff;
}

.espaco-menu {
  width: 4.5rem; 
  background-color: #b70000;
}

.area-conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 3rem 3rem 4rem;
  overflow: hidden;
  color: #000;
}


.icone-info {
  width: 2.2rem;     
  height: 2.2rem;
  border-radius: 50%;
  border: 0.1rem solid #444;
  font-size: 1.4rem;  
  line-height: 1;     
  display: flex;     
  align-items: center;
  justify-content: center;
  color: #444;
  margin-left: 0.6rem;
  cursor: pointer;
}

.icone-tipos{
   width: 2.2rem;     
  height: 2.2rem;
  border-radius: 50%;
  border: 0.1rem solid #444;
  font-size: 1.4rem;  
  line-height: 1;     
  display: flex;     
  align-items: center;
  justify-content: center;
  color: #444;
  margin-left: 33.2rem;
  cursor: pointer;
}


.titulo-pagina {
  font-weight: 900;
  font-size: clamp(1.8rem, 2vw, 2.4rem);
  margin: 0 0 0.4rem 0;
}

.descricao-pagina {
  font-style: italic;
  font-size: 1.3rem;
  margin-bottom: 1.6rem;
  color: #333;
}


.area-kpis-superiores {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 2.2rem;
  flex-wrap: wrap;
}

.kpi {
  flex: 0 1 26rem;
  min-height: 8rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.5rem;
  background: var(--cartao);
  border-radius: 1.4rem;
  border: var(--card-border);
  box-shadow: var(--sombra);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.descricao-kpi {
  font-style: italic;
  font-size: 1.3rem;
  color: #000;
}

.valor-kpi {
  font-weight: 700;
  font-size: 2.2rem;
  margin-left: 0.8rem;
}


.area-filtros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  margin-bottom: 1.6rem;
}


select {
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  font-size: 1.3rem;
  background: #fff;
  min-width: 6rem;
  cursor: pointer;
}

.texto-filtrar-por {
  font-style: italic;
  margin-right: 1.2rem;
   line-height: 1.2;
}


.area-graficos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.6rem;
  justify-content: space-between;
}

.cartao-grafico {
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 28rem;
  padding: 1rem 1.4rem;
  background: var(--cartao);
  border-radius: 1rem;
  border: var(--card-border);
  box-shadow: var(--sombra);
  display: flex;
  flex-direction: column;
  min-height: 24rem;
}



@media (max-width: 900px) {
  .cartao-grafico {
    flex: 1 1 100%;
    min-height: 28rem;
  }
}

.titulo-grafico {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.subtitulo-grafico {
  font-style: italic;
  font-size: 1.1rem;
  max-width: 28rem;
  text-align: center;
  margin: 0 0.8rem;
  line-height: 1.2;
}


.linha-insights {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.cartao-insight {
  background: var(--cartao);
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  border: var(--card-border);
  box-shadow: var(--sombra);
  font-weight: 700;
  font-size: 1.4rem;
  max-width: 33rem;
  min-width: 28rem;
}

.texto-insight {
  font-size: 1.4rem;
  line-height: 1.2;
}


.cartao-downloads {
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  border: var(--card-border);
  box-shadow: var(--sombra);
  font-style: italic;
  font-size: 1.3rem;
  max-width: 20rem;
  min-width: 18rem;
  text-align: center;
}

.cartao-downloads p {
  margin: 0.6rem 0;
  text-decoration: underline;
}
